.stack-logos {
  width: 100%;
  padding: var(--ft--spacing-size-40) var(--ft--global-padding);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.75rem;
}

.stack-item {
  width: auto;
  height: 2rem;
}

.cta {
  padding: var(--ft--spacing-size-80) 0;
  border-top: 1px solid var(--ft-border-color);
}

.cta__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--ft--global-gap);
}

.cta__title-wrap {
  max-width: 50%;
}

.faqs {
  padding-bottom: var(--ft--spacing-size-80);
}

.faqs__accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
}

.faqs__dropdown {
  width: 100%;
  border: 1px solid var(--ft-border-color);
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.8s ease;
}

.faqs__dropdown-button {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: var(--ft--spacing-size-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ft--global-gap);
  text-align: left;
  background: none;
}

.faqs__dropdown-content {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 0.8s ease;
}

.faqs__dropdown.is-open {
  background-color: rgba(255, 255, 255, 0.8);
}

.faqs__dropdown.is-open .faqs__dropdown-content {
  max-height: 15rem;
}

.faqs__dropdown svg {
  transform: rotateZ(0deg);
  transition: transform 0.6s ease;
  flex-shrink: 0;

}

.faqs__dropdown.is-open svg {
  transform: rotateZ(-45deg);
}

.fags__dropdown-content-layout {
  padding: var(--ft--spacing-size-20);
  padding-top: 0;
}

.fags__dropdown-content-layout p {
  font-size: var(--ft-body-small);
  font-weight: 400;
  line-height: 128%;
}





@media (max-width: 768px) {


  .stack-logos {
    gap: 2rem;
  }

  .stack-item {
    height: 1.25rem;
  }

  .cta__container  {
    display: flex;
    flex-direction: column;
    gap: var(--ft--spacing-size-32);
    text-align: center;
  }

  .cta__title-wrap {
    max-width: 100%;
  }
}

@media (hover: hover) {
  .service-card:hover .service-card__link,
  .service-card:hover h3,
  .case-card:hover h3,
  .case-card:hover .case-card__link {
    color: var(--ft-accent-color);
    text-decoration: underline;
  }
}

@media (hover: none) {
  .service-card:active .service-card__link,
  .service-card:active h3,
  .case-card:active h3,
  .case-card:active .case-card__link {
    color: var(--ft-accent-color);
    text-decoration: underline;
  }
}

/* Анимация для PageLoader */
@keyframes fillLine {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

/* Анимация пульсации для карточек */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
