:root {
  /* Desktop sizes (Default) */
  --ft-title-large: 3rem;
  --ft-title-medium: 2.5rem;
  --ft-title-small: 1.65rem;
  --ft-body-large: 1.5rem;
  --ft-body-medium: 1.35rem;
  --ft-body-small: 1rem;
}

/* Mobile sizes (Adaptive) */
@media (max-width: 768px) {
  :root {
    --ft-title-large: 1.88rem;
    --ft-title-medium: 1.66rem;
    --ft-title-small: 1.45rem;
    --ft-body-large: 1.25rem;
    --ft-body-medium: 1.125rem;
    --ft-body-small: 0.9rem;
  }
}

h1,
.title-large {
  font-size: var(--ft-title-large);
  font-weight: 500;
  line-height: 110%;
}

h2,
.title-medium {
  font-size: var(--ft-title-medium);
  font-weight: 500;
  line-height: 110%;
}

h3,
.title-small {
  font-size: var(--ft-title-small);
  font-weight: 500;
  line-height: 110%;
}

.body-large {
  font-size: var(--ft-body-large);
  font-weight: 400;
  line-height: 128%;
}

.body-medium {
  font-size: var(--ft-body-medium);
  font-weight: 400;
  line-height: 128%;
}

.body-small {
  font-size: var(--ft-body-small);
  font-weight: 400;
  line-height: 128%;
}

.font-weight-medium {
    font-weight: 500;
}