.case-card {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--ft--spacing-size-20);
  padding: var(--ft--spacing-size-40) 0;
  border-bottom: 1px solid var(--ft-border-color);
  transition: all 0.4s ease;
}

.case-card__image-wrap {
  position: fixed;
  left: 50%;
  right: auto;
  top: 9rem;
  width: auto;
  height: 35rem;
  z-index: 1000;
}

.case-card__image {
  height: 100%;
}

.case-card__text-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-20);
}

.case-card__text-wrap ul {
  margin: 0;
  padding: 0;
  padding-left: 1.25rem;
}

.case-card__link {
  align-self: flex-end;
  margin-left: auto;
}

.case-card__tags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  right: 0;
}

.case-card__tag {
  line-height: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--ft-border-color);
}

.c-hero {
  padding: var(--ft--spacing-size-80) 0;
}

.c-hero__text-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-32);
  max-width: 31.3rem;
}

.c-cases-list__grid {
  padding-bottom: var(--ft--spacing-size-80);
}

.c-cases-list__filters-wrap {
  display: flex;
  gap: 1.5rem;
  padding: var(--ft--spacing-size-20) var(--ft--global-padding);
  margin-left: calc(var(--ft--global-padding) * -1);
  box-sizing: content-box;
  background-color: rgba(239, 239, 239, 0.5);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid var(--ft-border-color);

  border-top: 1px solid var(--ft-border-color);
  position: sticky;
  top: 4.1rem;
  width: 100%;

  scrollbar-width: none;
  /* Скрываем скролл-бар для IE и Edge */
  -ms-overflow-style: none;
  overflow: auto;
  z-index: 1000;
}

.c-cases-list__filters-wrap::-webkit-scrollbar {
  display: none;
}

.case-hero {
  min-height: 50svh;
  padding-top: var(--ft--spacing-size-64);
  padding-bottom: var(--ft--spacing-size-40);
  position: relative;
  max-width: 100%;
}

.case-hero__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--ft--global-gap);
}

.case-hero__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
}

.case-hero__info {
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-32);
  margin-top: auto;
  margin-bottom: 1rem;
  margin-left: 35%;
  align-items: flex-start;
}

.case-hero__column,
.case-hero__services-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.case-hero__img {
  width: 100%;
  overflow: hidden;
}

.case-hero__img img {
  width: 100%;
}

.case-content {
  padding-top: var(--ft--spacing-size-80);
  padding-bottom: var(--ft--global-padding);
}

.case-text-blocks {
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-40);
}

.case-info-block {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: var(--ft--global-gap);
}

.case-task-text {
  display: inline-block;
  position: relative;
}

.case-task-text::before {
  content: "«";
  margin-right: 2px;
}

.case-task-text::after {
  content: "»";
  margin-left: 2px;
}

.case-info-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);

  counter-reset: case-counter;
}

.case-info-block li {
  padding: var(--ft--global-gap);
  border: 1px solid var(--ft-border-color);
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);

  counter-increment: case-counter;
}

.case-info-block li::before {
  content: "#" counter(case-counter, decimal-leading-zero);
  color: var(--ft-accent-color);
}

.case-info-block li strong {
  display: block;
}

.case-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--ft--global-gap);
}

.case-gallery__item {
  width: 100%;
  overflow: hidden;
}

.case-gallery__item:nth-child(3n) {
  grid-column: span 2;
  max-height: 95svh;
  display: flex;
  align-items: center;
}

.case-gallery__item img {
  width: 100%;
  object-fit: cover;
}

.c-cta {
  padding: var(--ft--spacing-size-80) 0;
  position: relative;
  overflow: hidden;
  color: #efefef;
  background-color: #4c4c4e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Crect fill='%231d1d1f' width='1600' height='800'/%3E%3Cg fill-opacity='0.15'%3E%3Ccircle fill='%23fc4c01' cx='1400' cy='200' r='200'/%3E%3Cpath fill='%232a2a2a' d='M0 800h1600v-100L0 500z'/%3E%3Cpath fill='%23fc4c01' d='M1600 800V600L0 800z'/%3E%3Crect fill='%232a2a2a' x='200' y='100' width='400' height='10' transform='rotate(45 400 100)'/%3E%3Crect fill='%23fc4c01' x='1000' y='500' width='600' height='2' transform='rotate(-15 1300 500)'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.c-cta::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Анимация слева */
  background: radial-gradient(
    circle at 20% 20%,
    rgba(252, 76, 1, 0.753) 0%,
    transparent 40%
  );
  z-index: 0;
  animation: pulseOrange 8s ease-in-out infinite alternate;
}

.c-cta__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: var(--ft--global-gap);
}

.c-cta__title-wrap {
  max-width: 40rem;
}

@media (max-width: 768px) {
  .c-cta__container {
    flex-direction: column;
    text-align: center;
    gap: var(--ft--spacing-size-32);
  }
}

@media (min-width: 1200px) {
  .case-card__image-wrap {
    opacity: 0;
    pointer-events: none;
  }

  .case-card:hover .case-card__image-wrap {
    opacity: 1;
  }

  .case-card:hover {
    border-color: var(--ft-accent-color);
  }
}

@media (max-width: 1200px) {
  .case-card__image-wrap {
    position: relative;
    left: 3rem;
    max-height: 10rem;
    top: 1rem;
    bottom: 1rem;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .case-card__tags {
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
  }

  .c-cases-list__filters-wrap {
    top: 2.7rem;
    padding: 0.5rem var(--ft--global-padding);
  }

  .case-card,
  .case-info-block,
  .case-gallery {
    display: flex;
    flex-direction: column;
  }

  .case-card__text-wrap {
    width: 100%;
    gap: 1.25rem;
    margin-bottom: 0.25rem;
  }

  .case-card__image-wrap {
    max-height: none;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    height: auto;
  }

  .case-card__image-wrap img {
    width: 100%;
    height: auto;
  }

  .case-hero__container {
    display: flex;
    flex-direction: column;
    gap: var(--ft--spacing-size-32);
  }

  .case-hero__info {
    margin-top: var(--ft--spacing-size-40);
    margin-bottom: var(--ft--spacing-size-32);
  }

  .case-content {
    padding-top: var(--ft--spacing-size-32);
    padding-bottom: var(--ft--global-padding);
  }
}
