.service-card {
  text-decoration: none;
  color: inherit;
  padding: var(--ft--spacing-size-20);
  padding-top: var(--ft--spacing-size-40);
  border: 1px solid var(--ft-border-color);
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-20);
  transition: all 0.4s ease;
}

.service-card__link {
  margin-left: auto;
}

.s-hero {
  width: 100%;
  padding-top: var(--ft--spacing-size-80);
  padding-bottom: var(--ft--spacing-size-20);
}

.s-hero__container,
.faqs__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: var(--ft--global-gap);
}

.s-hero__content-wrap,
.s-solutions__text-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-32);
}

.s-guote,
.s-solutions,
.s-process,
.faqs {
  padding-top: var(--ft--spacing-size-80);
  padding-bottom: var(--ft--spacing-size-40);
  position: relative;
}

.s-quote__text-wrap {
  max-width: 50%;
  margin-left: 25%;
  padding: var(--ft--spacing-size-20);
  background-color: rgba(255, 255, 255, 0.8);
}

.s-quote__text-wrap p {
  font-weight: 500;
}

.s-solutions__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ft--global-gap);
}

.s-solutions__text-wrap {
  max-width: 33rem;
  gap: var(--ft--spacing-size-20);
}

.s-solutions__list-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-20);
}

.s-solutions__list-wrap li {
  border-top: 1px solid var(--ft-border-color);
  padding-top: var(--ft--spacing-size-20);
  font-size: var(--ft-body-small);
  font-weight: 400;
  line-height: 128%;
}

.s-process__heading-wrap {
  margin-bottom: var(--ft--spacing-size-32);
}

.s-process__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--ft--global-gap);
}

.s-process__item {
  padding: var(--ft--spacing-size-20);
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
  border: 1px solid var(--ft-border-color);
}

.s-process__item-number {
  color: var(--ft-accent-color);
  font-weight: 500;
}

.s-process__item-description {
  margin-top: auto;
}

.s-hero__text-wrap {
  max-width: 28rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-32);
  padding-bottom: var(--ft--spacing-size-40);
}

.s-services-list {
  padding-top: var(--ft--spacing-size-64);
  padding-bottom: var(--ft--global-padding);
}

.s-services-list__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.s-services-list__grid {
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
}

.s-services-list__filters-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
  align-self: flex-start;
  align-items: flex-start;
  position: sticky;
  top: 8rem;
}

.service-card {
  position: relative;
}

.services-card__category-tags-list {
  display: flex;
  gap: 0.5rem;
}

.service-card__category-tag {
  line-height: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--ft-border-color);
}

.s-contact-form {
  padding-top: var(--ft--spacing-size-80);
  padding-bottom: var(--ft--spacing-size-80);
  position: relative;
  overflow: hidden;
  color: #efefef;

  background-color: #4c4c4e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Crect fill='%231d1d1f' width='1600' height='800'/%3E%3Cg fill-opacity='0.15'%3E%3Ccircle fill='%23fc4c01' cx='1400' cy='200' r='200'/%3E%3Cpath fill='%232a2a2a' d='M0 800h1600v-100L0 500z'/%3E%3Cpath fill='%23fc4c01' d='M1600 800V600L0 800z'/%3E%3Crect fill='%232a2a2a' x='200' y='100' width='400' height='10' transform='rotate(45 400 100)'/%3E%3Crect fill='%23fc4c01' x='1000' y='500' width='600' height='2' transform='rotate(-15 1300 500)'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  @media (max-width: 768px) {
    padding-bottom: var(--ft--global-padding);
  }
}


.s-contact-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 80% 20%, rgba(252, 76, 1, 0.753) 0%, transparent 40%);
  z-index: 0;
  animation: pulseOrange 8s ease-in-out infinite alternate;
}

@keyframes pulseOrange {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

.s-contact-form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ft--global-gap);
  position: relative;
  z-index: 2;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: var(--ft--spacing-size-32);
  }
}

.s-contact-form__heading {
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
  max-width: 35rem;
}

@media (min-width: 1024px) {
  .s-process__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--ft--global-gap);
  }

  /* Четвертый элемент принудительно ставим во вторую колонку */
  .s-process__item:nth-child(4) {
    grid-column-start: 2;
  }
}

@media (max-width: 768px) {
  .s-hero {
    padding-top: var(--ft--spacing-size-20);
    padding-bottom: var(--ft--spacing-size-40);
  }

  .s-hero__text-wrap {
    padding-top: var(--ft--spacing-size-40);
    padding-bottom: var(--ft--spacing-size-16);
  }

  .s-hero__container,
  .s-solutions__container,
  .faqs__container,
  .s-services-list__container {
    display: flex;
    flex-direction: column;
    gap: var(--ft--spacing-size-32);
  }

  .s-process__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .s-hero__container {
    gap: var(--ft--spacing-size-80);
  }

  .s-services-list__container {
    gap: var(--ft--spacing-size-16);
  }

  .s-quote__text-wrap {
    max-width: 100%;
    margin: 0;
  }

  .s-services-list__filters-wrap {
    padding: 0.75rem var(--ft--global-padding);
    box-sizing: content-box;
    margin-left: calc(var(--ft--global-padding) * -1);
    z-index: 1000;
    flex-direction: row;
    overflow: auto;
    max-width: 100%;
    top: 2.75rem;
    background-color: rgba(239, 239, 239, 0.5);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid var(--ft-border-color);
    border-bottom: 1px solid var(--ft-border-color);
    gap: 1.5rem;

    scrollbar-width: none;
    /* Скрываем скролл-бар для IE и Edge */
    -ms-overflow-style: none;
  }

  .s-services-list__filters-wrap::-webkit-scrollbar {
    display: none;
  }
}
