.service-card {
  text-decoration: none;
  color: inherit;
  padding: var(--ft--spacing-size-20);
  padding-top: var(--ft--spacing-size-40);
  border: 1px solid var(--ft-border-color);
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-20);
  transition: all 0.4s ease;
}

.service-card__link {
  margin-left: auto;
}

.s-hero {
  width: 100%;
  padding-top: var(--ft--spacing-size-80);
  padding-bottom: var(--ft--spacing-size-20);
}

.s-hero__container,
.faqs__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: var(--ft--global-gap);
}

.s-hero__content-wrap,
.s-solutions__text-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-32);
}

.s-guote,
.s-solutions,
.s-process,
.faqs {
  padding-top: var(--ft--spacing-size-80);
  padding-bottom: var(--ft--spacing-size-40);
  position: relative;
}

.s-quote__text-wrap {
  max-width: 50%;
  margin-left: 25%;
  padding: var(--ft--spacing-size-20);
  background-color: rgba(255, 255, 255, 0.8);
}

.s-quote__text-wrap p {
  font-weight: 500;
}

.s-solutions__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ft--global-gap);
}

.s-solutions__text-wrap {
  max-width: 33rem;
  gap: var(--ft--spacing-size-20);
}

.s-solutions__list-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-20);
}

.s-solutions__list-wrap li {
  border-top: 1px solid var(--ft-border-color);
  padding-top: var(--ft--spacing-size-20);
  font-size: var(--ft-body-small);
  font-weight: 400;
  line-height: 128%;
}

.s-process__heading-wrap {
  margin-bottom: var(--ft--spacing-size-32);
}

.s-process__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--ft--global-gap);
}

.s-process__item {
  padding: var(--ft--spacing-size-20);
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
  border: 1px solid var(--ft-border-color);
}

.s-process__item-number {
  color: var(--ft-accent-color);
  font-weight: 500;
}

.s-process__item-description {
  margin-top: auto;
}

.s-hero__text-wrap {
  max-width: 28rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--ft--spacing-size-32);
  padding-bottom: var(--ft--spacing-size-40);
}

.s-services-list {
  padding-top: var(--ft--spacing-size-64);
  padding-bottom: var(--ft--spacing-size-80);
}

.s-services-list__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.s-services-list__grid {
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
}

.s-services-list__filters-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--ft--global-gap);
  align-self: flex-start;
  align-items: flex-start;
  position: sticky;
  top: 8rem;
}

.service-card {
  position: relative;
}

.services-card__category-tags-list {
  display: flex;
  gap: 0.5rem;
}

.service-card__category-tag {
  line-height: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--ft-border-color);
}

@media (min-width: 1024px) {
  .s-process__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--ft--global-gap);
  }

  /* Четвертый элемент принудительно ставим во вторую колонку */
  .s-process__item:nth-child(4) {
    grid-column-start: 2;
  }
}

@media (max-width: 768px) {
  .s-hero {
    padding-top: var(--ft--spacing-size-20);
    padding-bottom: var(--ft--spacing-size-40);
  }

  .s-hero__text-wrap {
    padding-top: var(--ft--spacing-size-40);
    padding-bottom: var(--ft--spacing-size-16);
  }

  .s-hero__container,
  .s-solutions__container,
  .faqs__container,
  .s-services-list__container {
    display: flex;
    flex-direction: column;
    gap: var(--ft--spacing-size-32);
  }

  .s-process__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .s-hero__container {
    gap: var(--ft--spacing-size-80);
  }

  .s-services-list__container {
    gap: var(--ft--spacing-size-16);
  }

  .s-quote__text-wrap {
    max-width: 100%;
    margin: 0;
  }

  .s-services-list__filters-wrap {
    padding: 0.75rem var(--ft--global-padding);
    box-sizing: content-box;
    margin-left: calc(var(--ft--global-padding) * -1);
    z-index: 1000;
    flex-direction: row;
    overflow: auto;
    max-width: 100%;
    top: 2.75rem;
    background-color: rgba(239, 239, 239, 0.5);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid var(--ft-border-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    gap: 1.5rem;

    scrollbar-width: none;
    /* Скрываем скролл-бар для IE и Edge */
    -ms-overflow-style: none;
  }

  .s-services-list__filters-wrap::-webkit-scrollbar {
    display: none;
  }
}
